<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<div class="container-fluid" style="padding-top:10px;padding-bottom:10px">
  <div data-include="navigation"></div>
</div>
<br><br>
<body>
<div class="container-fluid bg-success" >
      <h2>Project Highlights</h2>
      <p>These are the list of Projects I did till now:</p>            
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Client Name</th>
            <th>Place</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AtWork</td>
            <td>Amex</td>
            <td>Phoenix, AZ</td>
            <td>2014-2016</td>
          </tr>
          <tr>
              <td>CIA</td>
              <td>PwC</td>
              <td>Tampa, FL</td>
              <td>2011-2014</td>
          </tr>
          <tr>
              <td>BT-Bridge</td>
              <td>BT</td>
              <td>London, UK</td>
              <td>2005-2014</td>
          </tr>
          <tr>
                  <td>AtWork</td>
                  <td>Amex</td>
                  <td>Phoenix, AZ</td>
                  <td>2014-2016</td>
                </tr>
                <tr>
                    <td>CIA</td>
                    <td>PwC</td>
                    <td>Tampa, FL</td>
                    <td>2011-2014</td>
                </tr>
                <tr>
                    <td>BT-Bridge</td>
                    <td>BT</td>
                    <td>London, UK</td>
                    <td>2005-2014</td>
                </tr>
        </tbody>
      </table>
    </div>
    
    </body>
</html>
