<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form>
    <div class="form-group">
                <label for="exampleFirstName">First Name</label>
                <input type="text" class="form-control" id="exampleFirstName" placeholder="Text input">
    </div>
    <div class="form-group">
            <label for="exampleLastName">First Name</label>
            <input type="text" class="form-control" id="exampleLasttName" placeholder="Text input">
</div>
<div class="radio-inline">
        <label>
          <input type="radio">Male
        </label>
      </div>
      <div class="radio-inline">
            <label>
              <input type="radio">Female
            </label>
          </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <div class="form-group">
      <label for="exampleInputFile">Upload your Company Profile:</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Upload only PDFs.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <div>
            <label for="textarea">Some feedback for me:</label>
            <textarea class="form-control" rows="3"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>
